<web-app>
<servlet>
<servlet-name>servletconfig</servlet-name>
<servlet-class>servletconfig</servlet-class>
<init-param>
<param-name>name</param-name>
<param-value>manoj</param-value>
</init-param>
<init-param>
<param-name>dept</param-name>
<param-value>CSE</param-value>
</init-param>
</servlet>
<servlet-mapping>
<servlet-name>servletconfig</servlet-name>
<url-pattern>/servletconfig</url-pattern>
</servlet-mapping>
<session-config>
<session-timeout>
30
</session-timeout>
</session-config>
</web-app>